#hindu1:hover{
	transform : scale(1.5);
}
#hindu1{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}


#hindu2:hover{
	transform : scale(1.5);
}
#hindu2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#hindu3:hover{
	transform : scale(1.5);
}
#hindu3{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#sikh1:hover{
	transform : scale(1.5);
}
#sikh1{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}


#sikh2:hover{
	transform : scale(1.5);
}
#sikh2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#sikh3:hover{
	transform : scale(1.5);
}
#sikh3{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#bud1:hover{
	transform : scale(1.5);
}
#bud1{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}


#bud2:hover{
	transform : scale(1.5);
}
#bud2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#bud3:hover{
	transform : scale(1.5);
}
#bud3{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}




#i1:hover{
	transform : scale(1.5);
}
#i1{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}


#i2:hover{
	transform : scale(1.5);
}
#i2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#i3:hover{
	transform : scale(1.5);
}
#i3{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}



#j1:hover{
	transform : scale(1.5);
}
#j1{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}


#j2:hover{
	transform : scale(1.5);
}
#j2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

#j3:hover{
	transform : scale(1.5);
}
#j3{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}




